In [1]:
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Acessing the files from folders

directory = os.path.join(os.getcwd(),'Readings') #Get current working directory

#Creating an empty dictionary
df_dict = {}

# Iterating and reading in all files in each day folder

for day in os.listdir(directory): #accessing all the day folders
    data_ = pd.DataFrame(columns=['Id','RSS','Router_Mac','Router_Name','Router_Num','RSSI']) #Creating an empty dataframe
    
    for filename in os.listdir(os.path.join(directory, day)): #accessing each file in a day's folder
        file = os.path.join(directory,day,filename)
        
        if os.path.isfile(file): #if file is present in the folder
            df_ = pd.read_csv(file, sep="\t",names=['Id','RSS','Router_Mac','Router_Name','Router_Num','RSSI']) #reading file in
            
            #creating columns for day, time and location from folder and file names
            df_['day'] = day
            #df_['time'] = int(filename.split()[1][:2])
            df_['location'] = filename.split()[0]
            #adding new df to the data dataframe
            data_ = pd.concat([data_, df_],axis=0, ignore_index=True, sort=False)
            
        df_dict[day] = data_
            

# Selecting Mac addresses that were recorded on both days
set_Mac = set.intersection(set(df_dict[os.listdir(directory)[0]].Router_Mac),set(df_dict[os.listdir(directory)[1]].Router_Mac))

# creating the final useable dataframe
data = pd.concat([df_dict[os.listdir(directory)[0]],df_dict[os.listdir(directory)[1]]],axis=0, ignore_index=True, sort=False)

#Picking Router_Mac and Router_Names of interest
data = data.loc[(data.Router_Mac.isin(set_Mac)) & (data.Router_Name.isin(['eduroam','GuestOnCampus']))]

In [3]:
data.head()

,Id,RSS,Router_Mac,Router_Name,Router_Num,RSSI,day,location
2,1662563198333,RSSWIFI,00:a2:ee:b6:96:f0,eduroam,2437,-80,7-9,Infront_of_class1
4,1662563198333,RSSWIFI,00:a2:ee:b6:96:f2,GuestOnCampus,2437,-82,7-9,Infront_of_class1
7,1662563198333,RSSWIFI,00:a2:ee:b7:d0:40,eduroam,2462,-77,7-9,Infront_of_class1
8,1662563198333,RSSWIFI,00:a2:ee:b7:d0:42,GuestOnCampus,2462,-78,7-9,Infront_of_class1
9,1662563198333,RSSWIFI,00:a2:ee:b7:0a:12,GuestOnCampus,2412,-49,7-9,Infront_of_class1

In [4]:
data.tail()

,Id,RSS,Router_Mac,Router_Name,Router_Num,RSSI,day,location
632291,1662651420697,RSSWIFI,00:a2:ee:b6:4a:f2,GuestOnCampus,2462,-76,8-9,Staircase_class2
632292,1662651420697,RSSWIFI,00:a2:ee:b6:a0:00,eduroam,2462,-84,8-9,Staircase_class2
632294,1662651420697,RSSWIFI,00:a2:ee:b6:a0:02,GuestOnCampus,2462,-84,8-9,Staircase_class2
632296,1662651420697,RSSWIFI,00:a2:ee:b7:0a:10,eduroam,2412,-81,8-9,Staircase_class2
632297,1662651420697,RSSWIFI,00:a2:ee:b7:0a:12,GuestOnCampus,2412,-81,8-9,Staircase_class2

# Acessing the data to correct possible wrangling

In [5]:
data.shape

(377596, 8)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377596 entries, 2 to 632297
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Id           377596 non-null  object
 1   RSS          377596 non-null  object
 2   Router_Mac   377596 non-null  object
 3   Router_Name  377596 non-null  object
 4   Router_Num   377596 non-null  object
 5   RSSI         377596 non-null  object
 6   day          377596 non-null  object
 7   location     377596 non-null  object
dtypes: object(8)
memory usage: 25.9+ MB

In [7]:
data.RSSI = data.RSSI.astype(int) #Changing the datatype for RSSI

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377596 entries, 2 to 632297
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Id           377596 non-null  object
 1   RSS          377596 non-null  object
 2   Router_Mac   377596 non-null  object
 3   Router_Name  377596 non-null  object
 4   Router_Num   377596 non-null  object
 5   RSSI         377596 non-null  int32
 6   day          377596 non-null  object
 7   location     377596 non-null  object
dtypes: int32(1), object(7)
memory usage: 24.5+ MB

In [13]:
#Grouping and taking averages
avg_data = data.groupby(['Router_Mac','location'])['RSSI'].mean().reset_index()

In [14]:
avg_data['RSSI'] = round(avg_data.RSSI,2) #rounding the RSSI value to 2dp
avg_data

           Router_Mac             location   RSSI
0   00:a2:ee:b4:ff:10       Inside_class-1 -51.86
1   00:a2:ee:b4:ff:10    Staircase_class-1 -67.93
2   00:a2:ee:b4:ff:12       Inside_class-1 -51.88
3   00:a2:ee:b4:ff:12    Staircase_class-1 -67.91
4   00:a2:ee:b6:4a:f0        Inside_class2 -68.74
..                ...                  ...    ...
65  00:a2:ee:b7:d0:42  Staircase_of_class1 -83.50
66  00:a2:ee:b7:d2:80    Staircase_class-1 -87.03
67  00:a2:ee:b7:d2:82    Staircase_class-1 -87.39
68  00:a2:ee:e1:f5:60    Staircase_class-1 -84.22
69  00:a2:ee:e1:f5:62    Staircase_class-1 -84.45

[70 rows x 3 columns]

In [15]:
avg_data[avg_data.Router_Mac=='00:a2:ee:b4:ff:10']

          Router_Mac           location   RSSI
0  00:a2:ee:b4:ff:10     Inside_class-1 -51.86
1  00:a2:ee:b4:ff:10  Staircase_class-1 -67.93

In [16]:
avg_data['location'].value_counts()

Staircase_class-1      10
Infront_of_class1       8
Staircase_of_class1     8
Infront_class1          8
In_front_of_class1      8
Staircase_class1        6
Inside_class2           6
Staircase_class2        6
Staircase_of_class2     6
Inside_class-1          4
Name: location, dtype: int64

In [17]:
avg_data['Router_Mac'].value_counts()

00:a2:ee:b7:0a:12    8
00:a2:ee:b6:a0:00    8
00:a2:ee:b7:0a:10    8
00:a2:ee:b6:a0:02    8
00:a2:ee:b6:96:f0    6
00:a2:ee:b6:96:f2    6
00:a2:ee:b7:d0:42    5
00:a2:ee:b7:d0:40    5
00:a2:ee:b6:4a:f0    3
00:a2:ee:b6:4a:f2    3
00:a2:ee:b4:ff:10    2
00:a2:ee:b4:ff:12    2
00:a2:ee:b6:58:80    1
00:a2:ee:e1:f5:60    1
00:a2:ee:e1:f5:62    1
00:a2:ee:b7:d2:82    1
00:a2:ee:b7:d2:80    1
00:a2:ee:b6:58:82    1
Name: Router_Mac, dtype: int64